services:
  - type: web
    name: freshtrack-api
    plan: free
    runtime: docker
    region: oregon
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: FIREBASE_SERVICE_ACCOUNT_JSON
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: "10000"
      - key: SMTP_SENDER_EMAIL
        sync: false
      - key: SMTP_APP_PASSWORD
        sync: false
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
